/*
* {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
}

#form {
	width: 100%;
	position: absolute;
	top: 40%;
	left: 17%;
}

#form > table {
	width: 100%;
}

input[type='text'], input[type='password'] {
	border-style: solid;
	border-color: #0071bc;
	width: 18%;
}
@media screen and (max-width: 900px) {
	#form {
		top: 40%;
		left: 34%;
	}
	
	input[type='text'], input[type='password'] {
		width: 30%;
	}
}

#login {
	width: 50px;
}
*/
/* -------------------------------------------------------------------------------- */

body {
  /* padding: 20px; */
  font-family: 'Noto Sans TC', sans-serif;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  height: 100%;
}

a {
  /* color: #00B7FF; */
  color:#000;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  /* background-color: #f1f1f1; */
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}