/* #region global */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

html {
	font-size: 25px;
}

.canvasjs-chart-toolbar {
	display: none;
}

.canvasjs-chart-credit {
	display: none;
}
/* #endregion */

/* #circlePieChart {
	height: 370px;
	max-width: 920px;
	margin: 0px auto;
}

#crossHair {
	height: 370px;
	max-width: 920px;
	margin: 0px auto;
} */

.canvasChart {
	height: 370px;
	max-width: 100%;
	margin: 100px auto;
}
